/**** Background ****/
body div.background, div.modal, nav, main{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/**** Login ****/
.img-background{
    background-image: url(../imgs/fondo.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    color: #1B244F;
    margin-bottom: 5px;
    text-align: center;
}

.login-subtitle {
    color: #6c757d;
    margin-bottom: 30px;
    text-align: center;
}

.hospital-logo img{
    margin-bottom: 20px;
    width: 75px;
}

button.btn-login {
    background: #3498db;
    border: none;
    border-radius: 12px;
    padding: 8px 30px;
    width: 100%;
}

.btn-login{
    text-decoration: none;
    color: white;
}

button.btn-forgotPsw {
    background: #6c757d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 8px 30px;
    width: 100%;
}

button.btn-sendEmail {
    background: #3498db;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 13%;
}

button.btn-cancelEmail {
    background: #6c757d;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 13%;
}

button.btn-submit {
    background: #3498db;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 13%;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(52, 152, 219, 0.3);
}

.btn-forgotPsw:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(52, 152, 219, 0.3);
}

div.card-header-color {
    background-color: #3498db;
    color: white;
}

/**** Nav ****/
.navbar-nav a{
    position: relative;
}

.navbar-nav a::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
    background: #1B244F;
}

.navbar-nav a:hover::before{
    transform: scale3d(1,1,1);
}

li .active{
    font-weight: bolder;
}

.span-notif:hover {
  animation: tilt-shaking 0.30s infinite;
}

.dropdown-menu .info-label {
    white-space: nowrap; /* Asegura que la etiqueta no se rompa */
    flex-shrink: 0;      /* Evita que la etiqueta se encoja */
}

.dropdown-menu .info-value {
    flex-grow: 1;         /* Permite que el valor ocupe el espacio restante */
    word-break: break-all; /* Fuerza al texto largo a romperse dentro del contenedor */
    min-width: 0;         /* Importante para flexbox, permite que el elemento se encoja más allá de su contenido intrínseco */
}

.dropdown-menu .user-info-section {
    width: auto; /* Asegura que la sección de información pueda crecer */
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/**** paciente ****/
.paciente-background {
    background-image: url(../imgs/fondo.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.icon-text{
    height: 1rem;
}

/**** Utilities ****/
.visibility-hidden{
    visibility: hidden;
}

.visibility-remove{
    display: none;
}

.visibility-show {
    visibility: visible;
}

/**** MediaQuerys ****/
@media only screen and (max-width: 706px) {
    button.btn-sendEmail {
        width: 100%;
    }

    button.btn-cancelEmail {
        width: 100%;
    }
}
